<header>
  <img src="http://hellocompost.com/wp-content/themes/hello/images/hc-app/vertical-logo.svg">
</header>

<%= simple_form_for @admin do |admin| %>
  <h1>Sign Up</h1>

  <%= admin.input :name %>

  <%= admin.simple_fields_for :user, @user do |user| %>
    <%= user.input :email, required: true %>
    <%= user.input :password, required: true %>
  <% end %>

  <%= admin.simple_fields_for :organization, @organization do |organization| %>
    <% organization.input :name, required: true, label: 'Organization Name' %>
  <% end %>

  <%= admin.button :submit, 'Sign Up', class: 'primary-button' %>

<% end %>

<%= link_to "Log in", new_user_session_path %>
