<h1><%= @client.username %></h1>

<section class="credits">
  <div class="credits-meter">
    <div class="available-credits" style="width: <%= credit_percentage.round %>%;"></div>
  </div>
  <p><%= available_credits %>/1000 Credits</p>
  <div class="actions">
    <%= link_to 'Redeem Credits', redeem_credits_path(@client), class: 'primary-button' %>
    <%= link_to 'Add Credits', new_client_credit_path(@client), class: 'secondary-button' %>
  </div>
</section>

<section class="scraps">
  <h2>Total Scraps</h2>
  <p><%= @total_scraps %></p>
</section>
