<li class="facilitators">
  <span class="nav-title <%= current_page(new_organization_invite_path(organization_name)) %>">Facilitators <%= link_to "+", new_organization_invite_path(organization_name), class: 'new' %></span>
    <ul>
    <% if organization_facilitators.any? || organization_invites.any? %>
      <% organization_facilitators.each do |facilitator| %>
        <li><%= link_to facilitator.name, organization_facilitator_path(organization_name, facilitator) %></li>
      <% end %>
      <% if organization_invites.any? %>
        <li class="invites">Pending Invites
          <ul>
            <% organization_invites.each do |invite| %>
              <li><%= invite.email %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% else %>
        <li class="sub-link"><%= link_to 'Invite Facilitators', new_organization_invite_path(organization_name) %></li>
    <% end %>
    </ul>
</li>
