<h1>Scraps and Credits</h1>

<div class="icon">
  <img src="http://hellocompost.com/wp-content/themes/hello/images/hc-app/walkthrough-scraps_and_credits.svg">
</div>
<div class="message">
  <p>
    Scraps are added from each location and are automatically converted to credits.
    Clients can redeem credits at their location after earning 1000 in exchange for produce.
  </p>

  <div class="continue-button">
    <%= link_to "Continue", walkthrough_outro_path, class: "secondary-button" %>
  </div>

  <div class="walkthrough-steps">
    <ul class="clearfix">
      <li class="inactive"><%= link_to "", walkthrough_intro_path %></li>
      <li class="inactive"><%= link_to "", walkthrough_locations_path %></li>
      <li class="inactive"><%= link_to "", walkthrough_facilitators_path %></li>
      <li class="inactive"><%= link_to "", walkthrough_clients_path %></li>
      <li class="active"><%= link_to "", walkthrough_scraps_and_credits_path %></li>
      <li class="inactive"><%= link_to "", walkthrough_outro_path %></li>
    </ul>
  </div>
</div>
