<nav class="side-nav <%= signup_steps %>">
  <div class="logo">
    <a href="http://hellocompost.com"><img src="http://hellocompost.com/wp-content/themes/hello/images/hello-compost-rails.svg"></a>
  </div>
  <ul class="nav-user">
    <li><%= link_to current_user.rolable.name, edit_user_registration_path %></li>
    <li><%= organization_name %></li>
  </ul>
  <ul class="nav-actions">
    <li><span class="nav-title"><%= link_to 'Dashboard', admin_dashboard_path %></span></li>

    <%= render 'layouts/sidenav/locations' %>

    <% if current_user.has_role?('Admin') %>
      <%= render 'layouts/sidenav/facilitators' %>
    <% end %>

    <li class="clients">
      <span class="nav-title">Clients</span>
      <ul>
        <li><%= link_to 'Manage Clients', organization_clients_path(organization_name) %></li>
      </ul>
    </li>

  </ul>
  <ul>
    <li><%= link_to current_user.email, edit_user_registration_path %></li>
    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
