<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <title>HelloCompost</title>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  <%= respond_include_tags %>
</head>
<body class="<%= body_class %>">

<% if user_signed_in? && current_user.has_role?('Admin', 'Facilitator') %>
  <%= render 'layouts/sidenav' %>
  <div class="main-content signed-in">
<% else %>
  <div class="main-content">
    <nav class="top-bar">
      <ul class="title-area">
          <li><%= link_to "Sign Up", organizations_new_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
      </ul>
    </nav>
<% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
